fbc/data_collection/data/*
*__pycache__*
fbc/neural_network/weights/*
fbc/neural_network/test_results/*
fbc/neural_network/data/*
fbc/neural_network/autoencoder/data/*
fbc/neural_network/autoencoder/weights/*
fbc/neural_network/autoencoder/test_results/*
fbc/neural_network/test_results_old/*
fbc/neural_network/test_results_offline/*
results/*
fbc/neural_network/tmp_result/*
MUJOCO_LOG.TXT
fbc/neural_network/test_results_demo/*
